<div id="principal">
  <div id="menu">
      <div class="menu_movil">
          <a href="#menu" class="open"><fa-icon [icon]="faBars"></fa-icon></a>
          <a href="#" class="close"><fa-icon [icon]="faBars"></fa-icon></a>
      </div>
      <ul class="desp_movil">
          <li><a href="#">HOME</a></li> 
          <li><a href="#">CONFIGURADOR</a></li>
          <li><a href="#">ACCESO CLIENTE</a></li>
          <li><a href="#">ALQUILER VEHICULO</a></li> 
          <li><a href="#">SEGUNDA MANO</a></li>
          <li><a href="#">MARCAS</a></li>
          <li><a href="#">FORMULARIO DE CONSULTA</a></li> 
      </ul>
  </div>
  <div id="cabezera">
      <div id="logo"><img src="/assets/img/logoEmpresa.png" alt="logo_Empresa"></div>
      <div id="aC"><a href="#">Area Cliente</a></div>
  </div>
  <div id="relleno"></div>
  <div id="mQuat">
      <h3>MASERATI</h3>
      <h3>Quattroporte</h3>
      <div class="botonMas"><a href="#">Saber Mas</a></div>
  </div>
  <div id="RRPhan">
      <h3>ROLLS-ROYCE</h3>
      <h3>Phantom</h3>
      <div class="botonMas"><a href="#">Saber Mas</a></div>
  </div>
  <div id="AMVant">
      <h3>ASTON MARTIN</h3>
      <h3>Vantage</h3>
      <div class="botonMas"><a href="#">Saber Mas</a></div>
  </div>
  <div id="Marcas">
      <div id="t"><h2>MARCAS CON LAS QUE TRABAJAMOS</h2></div>
      <div id="a"><img src="/assets/img/Alpina.png" alt="Logo_Alpina"></div>
      <div id="b"><img src="/assets/img/AMLogo.png" alt="Logo_AstonMartin"></div>
      <div id="c"><img src="/assets/img/BentleyLogo.png" alt="Logo_Bentley"></div>
      <div id="d"><img src="/assets/img/BrabusLogo.png" alt="Logo_Brabus"></div>
      <div id="e"><img src="/assets/img/MaseratiLogo.png" alt="Logo_Maserati"></div>
      <div id="f"><img src="/assets/img/RRLogo.png" alt="Logo_RollsRoyce"></div>

  </div>
  <div id="otros">
      <ul>
          <li id="iz">CONFIGURADOR</li>
          <li id="cent">SEMINUEVOS</li>
          <li id="dcha">ALQUILER</li>
      </ul>
  </div>
  <div id="pie">
      <div id="idioma">
          <p>IDIOMA</p>
          <img src="/assets/img/banderaEspaña.png" alt="Español">
      </div>
      <div id="PolPriv"><p>POLITICA DE PRIVACIDAD</p></div>
      <div id="Direccion">
          <p>Calle Velazquez, 51</p>
          <p>28005 Madrid (España)</p>
      </div>
  </div>
</div>  